In [3]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\cardo\anaconda3\lib\site-packages (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\cardo\anaconda3\lib\site-packages (from sqlalchemy) (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.7-cp310-cp310-win_amd64.whl (1.2 MB)
     ---------------------------------------- 1.2/1.2 MB 9.2 MB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.7
Note: you may need to restart the kernel to use updated packages.

In [32]:
import pandas as pd
import numpy as np

#### Leitura das bases de dados

In [33]:
path_posicoes = r'C:\Users\cardo\desafio\data\fake_position.csv'
path_politicas = r'C:\Users\cardo\desafio\data\fake_allocation_policies.xlsx'


df_posicoes = pd.read_csv(path_posicoes)
df_politicas = pd.read_excel(path_politicas)

#### Pre processamento da base de dados fake_position

In [34]:
df_posicoes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 533 entries, 0 to 532
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   account_code         533 non-null    int64
 1   account_suitability  457 non-null    object
 2   asset_name           533 non-null    object
 3   asset_cnpj           186 non-null    float64
 4   class_name           523 non-null    object
 5   position_value       533 non-null    float64
dtypes: float64(2), int64(1), object(3)
memory usage: 25.1+ KB

In [35]:
# dropando registros sem account_suitability ou class_name.

df_posicoes.dropna(subset=['account_suitability', 'class_name'], inplace=True)

In [36]:
df_posicoes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 447 entries, 0 to 532
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   account_code         447 non-null    int64
 1   account_suitability  447 non-null    object
 2   asset_name           447 non-null    object
 3   asset_cnpj           180 non-null    float64
 4   class_name           447 non-null    object
 5   position_value       447 non-null    float64
dtypes: float64(2), int64(1), object(3)
memory usage: 24.4+ KB

## Iniciando a manipulaçao da base de dados para calcular a distancia

#### Manipulando a base de dados fake_allocation_policies

In [37]:
df_politicas

,Classe,Conservador,Moderado Conservador,Moderado,Moderado Agressivo,Agressivo
0,Renda Fixa Pós-Fixada,0.70,0.46,0.30,0.15,0.05
1,Renda Fixa Inflação,0.12,0.16,0.24,0.20,0.19
2,Renda Fixa Pré-Fixada,0.05,0.08,0.10,0.11,0.10
3,Renda Variável,0.02,0.04,0.07,0.14,0.20
4,Multimercado,0.09,0.21,0.22,0.30,0.31
5,Alternativos,0.00,0.00,0.00,0.00,0.00
6,Internacional,0.02,0.05,0.07,0.10,0.15
7,Saldo em Conta,0.00,0.00,0.00,0.00,0.00

In [38]:
# renomeando as colunas para terem o mesmo nome da tabela fake_position

df_politicas.rename(columns={'Classe': 'class_name',
                            'Conservador': 'conservador',
                            'Moderado Conservador': 'moderado-conservador',
                            'Moderado': 'moderado',
                            'Moderado Agressivo': 'moderado-agressivo',
                            'Agressivo': 'agressivo'}, inplace=True)

# reestruturando o dataframe, para melhor vizualizaçao dos dados. A função abaixo define uma variavel como identificadora,
# sendo a class_name, e define as outras colunas como variaveis.

df_politicas_melted = df_politicas.melt(id_vars=['class_name'], 
                                        value_vars=['conservador', 'moderado-conservador', 'moderado', 'moderado-agressivo', 'agressivo'],
                                        var_name='account_suitability', value_name='valor_alvo')

#### Manipulando a base de dados fake_position

In [39]:
# agora vamos agrupar o dataframe, sendo as colunas account_code, class_name e account_suitability como colunas de referencia,
# e tabem agregar uma nova coluna, sendo ela a soma da position_value de cada agrupamento.
agg_df = df_posicoes.groupby(['account_code', 'class_name', 'account_suitability']).agg(total_position_value=('position_value', 'sum')).reset_index()


# calculando o total de cada conta (account_code).
total_per_account = agg_df.groupby('account_code').agg(total_value=('total_position_value', 'sum'))


# juntando o dataframe agregado com o total por conta para calcular a porcentagem de cada class_name.
agg_df = agg_df.merge(total_per_account, on='account_code', how='left')
agg_df['percent_of_total'] = agg_df['total_position_value'] / agg_df['total_value']

agg_df.head(10)

,account_code,class_name,account_suitability,total_position_value,total_value,percent_of_total
0,2429,Renda Fixa Inflação,moderado,1.343101e+08,1.346265e+08,0.997650
1,2429,Renda Fixa Pré-Fixada,moderado,2.968725e+05,1.346265e+08,0.002205
2,2429,Renda Fixa Pós-Fixada,moderado,6.425970e+03,1.346265e+08,0.000048
3,2429,Reserva de Liquidez,moderado,1.306173e+04,1.346265e+08,0.000097
4,2429,Saldo em Conta,moderado,0.000000e+00,1.346265e+08,0.000000
5,6777,Alternativos,moderado-conservador,3.219754e+04,4.705669e+05,0.068423
6,6777,Multimercado,moderado-conservador,2.082084e+04,4.705669e+05,0.044246
7,6777,Renda Fixa Inflação,moderado-conservador,3.233525e+04,4.705669e+05,0.068716
8,6777,Renda Fixa Pré-Fixada,moderado-conservador,1.829989e+04,4.705669e+05,0.038889
9,6777,Renda Fixa Pós-Fixada,moderado-conservador,3.259607e+05,4.705669e+05,0.692698

In [40]:
# Agora, vamos fazer um merge da tabela agg_df com df_politicas_melted usando account_suitability e class_name como chaves
merged_df = agg_df.merge(df_politicas_melted, on=['account_suitability', 'class_name'], how='left').fillna(0)

#### Calculando a distancia euclidiana

In [41]:
#### criando uma coluna para distancia, dividindo o total da porcentagem pelo valor alvo e elevando ao quadrado.

merged_df['distancia'] = (merged_df['percent_of_total'] - merged_df['valor_alvo'])**2

In [42]:
merged_df

,account_code,class_name,account_suitability,total_position_value,total_value,percent_of_total,valor_alvo,distancia
0,2429,Renda Fixa Inflação,moderado,1.343101e+08,1.346265e+08,0.997650,0.24,5.740337e-01
1,2429,Renda Fixa Pré-Fixada,moderado,2.968725e+05,1.346265e+08,0.002205,0.10,9.563831e-03
2,2429,Renda Fixa Pós-Fixada,moderado,6.425970e+03,1.346265e+08,0.000048,0.30,8.997136e-02
3,2429,Reserva de Liquidez,moderado,1.306173e+04,1.346265e+08,0.000097,0.00,9.413268e-09
4,2429,Saldo em Conta,moderado,0.000000e+00,1.346265e+08,0.000000,0.00,0.000000e+00
...,...,...,...,...,...,...,...,...
149,82356,Renda Fixa Inflação,conservador,2.742888e+04,4.518337e+05,0.060706,0.12,3.515814e-03
150,82356,Renda Fixa Pré-Fixada,conservador,3.144487e+04,4.518337e+05,0.069594,0.05,3.839209e-04
151,82356,Renda Fixa Pós-Fixada,conservador,3.742832e+04,4.518337e+05,0.082837,0.70,3.808908e-01
152,82356,Reserva de Liquidez,conservador,2.904750e+05,4.518337e+05,0.642880,0.00,4.132951e-01
153,82356,Saldo em Conta,conservador,0.000000e+00,4.518337e+05,0.000000,0.00,0.000000e+00

In [43]:
# criando um dataframe com a soma da distancia de cada account_code.

df_final = merged_df.groupby('account_code')['distancia'].sum().reset_index()

In [44]:
# com isso, aplicamos a raiz quadrada para termos a distancia euclidiana.

df_final['distancia'] = df_final['distancia'].apply(np.sqrt)

### Conectando ao banco de dados e alimentado com as base de dados.

In [45]:
#utilizando o sqlalchemy para conectar no banco de dados e utilzar a magic function %sql

In [46]:
%load_ext sql

In [47]:
from sqlalchemy import create_engine

In [48]:
engine = create_engine('postgresql://postgres:lucas123@localhost/db_teste')

In [49]:
df_final.to_sql('distancia_euclidiana', con=engine, if_exists='replace', index=False)
df_posicoes.to_sql('posicoes', con=engine, if_exists='replace', index=False)
df_politicas.to_sql('politicas', con=engine, if_exists='replace', index=False)

8

In [50]:
%%sql 

postgresql://postgres:lucas123@localhost/db_teste
        
select * from distancia_euclidiana
ORDER BY distancia DESC;

24 rows affected.

[(58230, 1.1001048069715778),
 (78059, 1.0),
 (18073, 0.9748901717468915),
 (32263, 0.9488930066178707),
 (65547, 0.9165061990541233),
 (82356, 0.8940726398855748),
 (55836, 0.8526910482313349),
 (2429, 0.8207124108940015),
 (72740, 0.7982404312654634),
 (45848, 0.7656280391873113),
 (20921, 0.6876475112152335),
 (73707, 0.6765711734479751),
 (32449, 0.5810439246071821),
 (46168, 0.5764585152405058),
 (66740, 0.5704273587060588),
 (51239, 0.5659794658243714),
 (76497, 0.4901527464409377),
 (55101, 0.48880602578123356),
 (7826, 0.4410444785831785),
 (56165, 0.36346198297417426),
 (49232, 0.34932365074206184),
 (46744, 0.33040162455017263),
 (6777, 0.3248049576242885),
 (47497, 0.30884560156204544)]